select#user-dropdown {
	display: inline-block;
	width: auto;
	min-width: 150px;
	margin-right: 20px;
}
a#add-new {
	display: inline-block;
	width: 100px;
	line-height: 20px;
}
@media only screen and (max-width: 500px) {
	h3.box-title {
		visibility: hidden;
	}
}